In [1]:
%load_ext autoreload
%autoreload 2

Proceso para construir la topologia de una molecula para GROMACS:

   1. Parametros iniciales, un archivo de entrada, y especificar el campo de fuerzas.
   
   2. Se crea el objeto molecula.
   3. Se lee la estructura de entrada.
   4. Se busca su conectividad
   5. Se asignan los tipos de atomos.
   6. Se asignan los parametros del campo de fuerzas.
   7. se inprimen en los respectivos programas: Gromacs, Stamp

In [1]:
from moltools.structure import MOL, ATOM
from moltools.ffield import get_atoms_types, get_ffparameters, get_interactions_list
from mkitpgmx import save_gro, save_itp
from mol2stamp import write_run, fatomes

In [2]:
# Se crea la molecula
mol = MOL()

In [3]:
# Se lee la estructura de entrada.
mol.load_file("test/xyz/pro.xyz")

In [4]:
mol.dfatoms

   atsb        x        y        z    mass  num  charge
0     C  0.49277  1.07569  0.93557  12.011    6     0.0
1     C  2.00679  1.35460  0.90820  12.011    6     0.0
2     H  0.00000  1.53677  0.07638   1.008    1     0.0
3     H  0.04377  1.47317  1.84883   1.008    1     0.0
4     H  0.30607  0.00000  0.90159   1.008    1     0.0
5     C  2.30133  2.86518  0.95512  12.011    6     0.0
6     H  1.85488  3.37209  0.09642   1.008    1     0.0
7     H  3.37923  3.04076  0.93481   1.008    1     0.0
8     H  1.89864  3.30850  1.86887   1.008    1     0.0
9     H  2.43898  0.92772  0.00000   1.008    1     0.0
10    H  2.48247  0.86454  1.76108   1.008    1     0.0

In [5]:
# Se busca su conectividad
mol.search_connectivity()

In [6]:
print(mol.connect)

connectivity with 11 nodes and 20 edges

In [7]:
mol.connect[0][1]

{'dist': 1.539739090040907}

In [8]:
len(mol.dfatoms)

11

In [9]:
get_atoms_types(mol, "gaff")

Force field: GAFF
   atsb        x        y        z    mass  num  charge type
0     C  0.49277  1.07569  0.93557  12.011    6     0.0   c3
1     C  2.00679  1.35460  0.90820  12.011    6     0.0   c3
2     H  0.00000  1.53677  0.07638   1.008    1     0.0   hc
3     H  0.04377  1.47317  1.84883   1.008    1     0.0   hc
4     H  0.30607  0.00000  0.90159   1.008    1     0.0   hc
5     C  2.30133  2.86518  0.95512  12.011    6     0.0   c3
6     H  1.85488  3.37209  0.09642   1.008    1     0.0   hc
7     H  3.37923  3.04076  0.93481   1.008    1     0.0   hc
8     H  1.89864  3.30850  1.86887   1.008    1     0.0   hc
9     H  2.43898  0.92772  0.00000   1.008    1     0.0   hc
10    H  2.48247  0.86454  1.76108   1.008    1     0.0   hc

In [10]:
mol.dftypes

   atsb        x        y        z    mass  num  charge type
0     C  0.49277  1.07569  0.93557  12.011    6     0.0   c3
1     C  2.00679  1.35460  0.90820  12.011    6     0.0   c3
2     H  0.00000  1.53677  0.07638   1.008    1     0.0   hc
3     H  0.04377  1.47317  1.84883   1.008    1     0.0   hc
4     H  0.30607  0.00000  0.90159   1.008    1     0.0   hc
5     C  2.30133  2.86518  0.95512  12.011    6     0.0   c3
6     H  1.85488  3.37209  0.09642   1.008    1     0.0   hc
7     H  3.37923  3.04076  0.93481   1.008    1     0.0   hc
8     H  1.89864  3.30850  1.86887   1.008    1     0.0   hc
9     H  2.43898  0.92772  0.00000   1.008    1     0.0   hc
10    H  2.48247  0.86454  1.76108   1.008    1     0.0   hc

In [11]:
get_interactions_list(mol)

In [12]:
mol.dfdih

             list             types
0    (0, 1, 5, 8)  (c3, c3, c3, hc)
1    (0, 1, 5, 6)  (c3, c3, c3, hc)
2    (0, 1, 5, 7)  (c3, c3, c3, hc)
3    (2, 0, 1, 9)  (hc, c3, c3, hc)
4   (2, 0, 1, 10)  (hc, c3, c3, hc)
5    (2, 0, 1, 5)  (hc, c3, c3, c3)
6    (3, 0, 1, 9)  (hc, c3, c3, hc)
7   (3, 0, 1, 10)  (hc, c3, c3, hc)
8    (3, 0, 1, 5)  (hc, c3, c3, c3)
9    (4, 0, 1, 9)  (hc, c3, c3, hc)
10  (4, 0, 1, 10)  (hc, c3, c3, hc)
11   (4, 0, 1, 5)  (hc, c3, c3, c3)
12   (6, 5, 1, 9)  (hc, c3, c3, hc)
13  (6, 5, 1, 10)  (hc, c3, c3, hc)
14   (7, 5, 1, 9)  (hc, c3, c3, hc)
15  (7, 5, 1, 10)  (hc, c3, c3, hc)
16   (8, 5, 1, 9)  (hc, c3, c3, hc)
17  (8, 5, 1, 10)  (hc, c3, c3, hc)

In [13]:
get_ffparameters(mol, "gaff")

   atsb        x        y        z    mass  num  charge type  sigma  epsilon
0     C  0.49277  1.07569  0.93557  12.011    6     0.0   c3  1.908   0.1094
1     C  2.00679  1.35460  0.90820  12.011    6     0.0   c3  1.908   0.1094
2     H  0.00000  1.53677  0.07638   1.008    1     0.0   hc  1.487   0.0157
3     H  0.04377  1.47317  1.84883   1.008    1     0.0   hc  1.487   0.0157
4     H  0.30607  0.00000  0.90159   1.008    1     0.0   hc  1.487   0.0157
5     C  2.30133  2.86518  0.95512  12.011    6     0.0   c3  1.908   0.1094
6     H  1.85488  3.37209  0.09642   1.008    1     0.0   hc  1.487   0.0157
7     H  3.37923  3.04076  0.93481   1.008    1     0.0   hc  1.487   0.0157
8     H  1.89864  3.30850  1.86887   1.008    1     0.0   hc  1.487   0.0157
9     H  2.43898  0.92772  0.00000   1.008    1     0.0   hc  1.487   0.0157
10    H  2.48247  0.86454  1.76108   1.008    1     0.0   hc  1.487   0.0157
      list     types     b0     kb
0   (0, 1)  (c3, c3)  1.537  300.9
1   (0, 2)  (c3, hc)  1.096  330.6
2   (0, 3)  (c3, hc)  1.096  330.6
3   (0, 4)  (c3, hc)  1.096  330.6
4   (1, 9)  (c3, hc)  1.096  330.6
5  (1, 10)  (c3, hc)  1.096  330.6
6   (1, 5)  (c3, c3)  1.537  300.9
7   (5, 8)  (c3, hc)  1.096  330.6
8   (5, 6)  (c3, hc)  1.096  330.6
9   (5, 7)  (c3, hc)  1.096  330.6
          list         types    th0   kth
0    (0, 1, 9)  (c3, c3, hc)  109.8  46.3
1   (0, 1, 10)  (c3, c3, hc)  109.8  46.3
2    (0, 1, 5)  (c3, c3, c3)  111.5  62.9
3    (1, 0, 2)  (c3, c3, hc)  109.8  46.3
4    (1, 0, 3)  (c3, c3, hc)  109.8  46.3
5    (1, 0, 4)  (c3, c3, hc)  109.8  46.3
6    (1, 5, 6)  (c3, c3, hc)  109.8  46.3
7    (1, 5, 7)  (c3, c3, hc)  109.8  46.3
8    (1, 5, 8)  (c3, c3, hc)  109.8  46.3
9    (2, 0, 3)  (hc, c3, hc)  107.5  39.4
10   (2, 0, 4)  (hc, c3, hc)  107.5  39.4
11   (3, 0, 4)  (hc, c3, hc)  107.5  39.4
12   (5, 1, 9)  (c3, c3, hc)  109.8  46.3
13  (5, 1, 10)  (c3, c3, hc)  109.8  46.3
14   (6, 5, 8)  (hc, c3, hc)  107.5  39.4
15   (6, 5, 7)  (hc, c3, hc)  107.5  39.4
16   (7, 5, 8)  (hc, c3, hc)  107.5  39.4
17  (9, 1, 10)  (hc, c3, hc)  107.5  39.4
             list             types  divider    Vn  phi  n
0    (0, 1, 5, 8)  (c3, c3, c3, hc)        1  0.16  0.0  3
1    (0, 1, 5, 6)  (c3, c3, c3, hc)        1  0.16  0.0  3
2    (0, 1, 5, 7)  (c3, c3, c3, hc)        1  0.16  0.0  3
3    (2, 0, 1, 9)  (hc, c3, c3, hc)        1  0.15  0.0  3
4   (2, 0, 1, 10)  (hc, c3, c3, hc)        1  0.15  0.0  3
5    (2, 0, 1, 5)  (hc, c3, c3, c3)        1  0.16  0.0  3
6    (3, 0, 1, 9)  (hc, c3, c3, hc)        1  0.15  0.0  3
7   (3, 0, 1, 10)  (hc, c3, c3, hc)        1  0.15  0.0  3
8    (3, 0, 1, 5)  (hc, c3, c3, c3)        1  0.16  0.0  3
9    (4, 0, 1, 9)  (hc, c3, c3, hc)        1  0.15  0.0  3
10  (4, 0, 1, 10)  (hc, c3, c3, hc)        1  0.15  0.0  3
11   (4, 0, 1, 5)  (hc, c3, c3, c3)        1  0.16  0.0  3
12   (6, 5, 1, 9)  (hc, c3, c3, hc)        1  0.15  0.0  3
13  (6, 5, 1, 10)  (hc, c3, c3, hc)        1  0.15  0.0  3
14   (7, 5, 1, 9)  (hc, c3, c3, hc)        1  0.15  0.0  3
15  (7, 5, 1, 10)  (hc, c3, c3, hc)        1  0.15  0.0  3
16   (8, 5, 1, 9)  (hc, c3, c3, hc)        1  0.15  0.0  3
17  (8, 5, 1, 10)  (hc, c3, c3, hc)        1  0.15  0.0  3

In [13]:
save_gro(mol.dftypes, "MET")

Saved gro file: met.gro

In [14]:
save_itp(mol, "gaff", "MET")

Saved itp file: met.itp

In [17]:
mol.dftypes["charge"].sum()

0.0

In [18]:
# Para Stamp

options = {
    "Trequis": 300.0,
    "Deltatemps": 1.0,  # fs
    "Protection": 50000,
    "XyzFrequence": 1000,
    "Parallele": "2 2 2",
    "Decoupage": "5 5 5",
    "XyzFrequence": 1000,
    "StepLimit": 100000,  # 100ps
    "drVerlet": "2.e-10"
}

write_run(**options)

file DONNEES.in writed

In [19]:
%more DONNEES.in

In [20]:
Fatomes = fatomes()

In [21]:
Fatomes.write_atominfo(mol)

In [22]:
Fatomes.write_topol()

file FAtomes.in writed

In [23]:
%more FAtomes.in