In [1]:
%load_ext autoreload
%autoreload 2

Proceso para construir la topologia de una molecula para GROMACS:

   1. Parametros iniciales, un archivo de entrada, y especificar el campo de fuerzas.
   
   2. Se crea el objeto molecula.
   3. Se lee la estructura de entrada.
   4. Se busca su conectividad
   5. Se asignan los tipos de atomos.
   6. Se asignan los parametros del campo de fuerzas.

In [1]:
from moltools.structure import MOL, ATOM
from moltools.ffield import get_atoms_types, get_ffparameters, get_interactions_list
from mkitpgmx import save_gro, save_itp

In [2]:
# Se crea la molecula
mol = MOL()

In [3]:
# Se lee la estructura de entrada.

mol.load_file("test/xyz/met.xyz")

In [4]:
# Se busca su conectividad

mol.search_connectivity()

In [5]:
print(mol.connect)

connectivity with 5 nodes and 8 edges

In [6]:
len(mol.dfatoms)

5

In [7]:
mol.dfatoms

  atsb        x        y        z    mass  num  charge
0    C -0.37855  0.73490 -0.00000  12.011    6     0.0
1    H  0.73085  0.73490 -0.00000   1.008    1     0.0
2    H -0.74835 -0.27591  0.26887   1.008    1     0.0
3    H -0.74836  1.00746 -1.00982   1.008    1     0.0
4    H -0.74836  1.47315  0.74095   1.008    1     0.0

In [8]:
get_atoms_types(mol, "gaff")

Force field: GAFF
  atsb        x        y        z    mass  num  charge type
0    C -0.37855  0.73490 -0.00000  12.011    6     0.0   c3
1    H  0.73085  0.73490 -0.00000   1.008    1     0.0   hc
2    H -0.74835 -0.27591  0.26887   1.008    1     0.0   hc
3    H -0.74836  1.00746 -1.00982   1.008    1     0.0   hc
4    H -0.74836  1.47315  0.74095   1.008    1     0.0   hc

In [9]:
mol.dftypes

  atsb        x        y        z    mass  num  charge type
0    C -0.37855  0.73490 -0.00000  12.011    6     0.0   c3
1    H  0.73085  0.73490 -0.00000   1.008    1     0.0   hc
2    H -0.74835 -0.27591  0.26887   1.008    1     0.0   hc
3    H -0.74836  1.00746 -1.00982   1.008    1     0.0   hc
4    H -0.74836  1.47315  0.74095   1.008    1     0.0   hc

In [10]:
get_interactions_list(mol)

In [11]:
get_ffparameters(mol, "gaff")

  atsb        x        y        z    mass  num  charge type  sigma  epsilon
0    C -0.37855  0.73490 -0.00000  12.011    6     0.0   c3  1.908   0.1094
1    H  0.73085  0.73490 -0.00000   1.008    1     0.0   hc  1.487   0.0157
2    H -0.74835 -0.27591  0.26887   1.008    1     0.0   hc  1.487   0.0157
3    H -0.74836  1.00746 -1.00982   1.008    1     0.0   hc  1.487   0.0157
4    H -0.74836  1.47315  0.74095   1.008    1     0.0   hc  1.487   0.0157
     list     types     b0     kb
0  (0, 1)  (c3, hc)  1.096  330.6
1  (0, 2)  (c3, hc)  1.096  330.6
2  (0, 3)  (c3, hc)  1.096  330.6
3  (0, 4)  (c3, hc)  1.096  330.6
        list         types    th0   kth
0  (1, 0, 2)  (hc, c3, hc)  107.5  39.4
1  (1, 0, 3)  (hc, c3, hc)  107.5  39.4
2  (1, 0, 4)  (hc, c3, hc)  107.5  39.4
3  (2, 0, 3)  (hc, c3, hc)  107.5  39.4
4  (2, 0, 4)  (hc, c3, hc)  107.5  39.4
5  (3, 0, 4)  (hc, c3, hc)  107.5  39.4

In [12]:
mol.dfangles

        list         types    th0   kth
0  (1, 0, 2)  (hc, c3, hc)  107.5  39.4
1  (1, 0, 3)  (hc, c3, hc)  107.5  39.4
2  (1, 0, 4)  (hc, c3, hc)  107.5  39.4
3  (2, 0, 3)  (hc, c3, hc)  107.5  39.4
4  (2, 0, 4)  (hc, c3, hc)  107.5  39.4
5  (3, 0, 4)  (hc, c3, hc)  107.5  39.4

In [13]:
save_gro(mol.dftypes, "MET")

Saved gro file: met.gro

In [14]:
save_itp(mol, "gaff", "MET")

Saved itp file: met.itp

In [19]:
mol.dftypes["charge"].sum()

0.0